<button>B</button>
<button>I</button>
<button>S</button>
<button>Font +</button>
<button>Font -</button>

<select>
    <option>Preto</option>
    <option>Azul</option>
    <option>Vermelho</option>
    <option>Amarelo</option>
</select>

<select>
    <option>10</option>
    <option>12</option>
    <option>14</option>
    <option>16</option>
    <option>18</option>
    <option>20</option>
    <option>22</option>
    <option>24</option>
</select>

<button>Esquerda</button>
<button>Centralizado</button>
<button>Direita</button>