<div>
    <button title="Negrito">B</button>
    <button title="Italico">I</button>
    <button title="Sublinhado">S</button>
    <button title="Aumentar Fonte">Font +</button>
    <button title="Dimiuir Fonte">Font -</button>
    
    <select title="Cor da Fonte">
        <option>Preto</option>
        <option>Azul</option>
        <option>Vermelho</option>
        <option>Amarelo</option>
    </select>
    
    <select title="Tamanho da Fonte">
        <option>10</option>
        <option>12</option>
        <option>14</option>
        <option>16</option>
        <option>18</option>
        <option>20</option>
        <option>22</option>
        <option>24</option>
    </select>
    
    <button title="Alinhar à Esqueda">Esquerda</button>
    <button title="Alinhar Centralizado">Centralizado</button>
    <button title="Alinhar à Direita">Direita</button>
</div>