button{
    width: 5vw;
    height: 4vw;
    background-size: cover;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 1vw;

}

button img{
    width: 100%;
    height: 100%;
}