/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(227, 227, 227);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button{
    margin: 1vw;
    padding: 0.5vw;
}