.btn-menu{
    position: relative;
    width: 100%;
    height: 10%;
    align-content: center;
    box-shadow: gray 1px 1px 3px;
}

.textbox-area{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    box-shadow: gray 1px 1px 3px;
}

textarea{
    width: 80vw;
    height: 90%;
    border-radius: 1vw;
    padding: 1vw;
    margin-top: 1vw;
    box-shadow: gray 2px 2px 3px ;
}