  <div class="btn-menu">
    <app-btn-menu 
      (corSelecionada)="mudarCor($event)"
      (tamanhoSelecionado)="mudarTamanhoFonte($event)"
      (aumentarFonte)="aumentarFonte()"
      (diminuirFonte)="diminuirFonte()"
      (negrito)="toggleNegrito()"
      (italico)="toggleItalico()"
      (sublinhado)="toggleSublinhado()"
      (textoDireita)="rightTextAlign()"
      (textoEsquerda)="leftTextAlign()"
      (textoCentro)="centerTextAlign()"
      (textoJustificado)="justifyTextAlign()"      
      />      
  </div>
<div class="textbox-area">
  <textarea
    [(ngModel)]="texto"
    [ngStyle]="{ 
      color: corTexto,
      'font-size': tamanhoFonte + 'px',
      'font-weight': isBold ? 'bold' : 'normal',
      'font-style': isItalic ? 'italic' : 'normal',
      'text-decoration': isUnderline ? 'underline' : 'none',
      'text-align': textAlign
    }"
  ></textarea>
</div>